# produits de GHDL
*.cf
*.o
tests/travail/
tests_InO/travail/

# Synthèse InO : artefacts volumineux reproductibles
synth_InO/*.il
synth_InO/*.log

# éventuels produits Yosys/GHDL
synth_InO/*.json
synth_InO/*.v
synth_InO/*.blif
synth_InO/*.edif
